@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}
<script>
    async function getRecipes() {
        return await fetch('https://localhost:7187/recipes', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            })
    }

    async function getCategories() {
        return await fetch('https://localhost:7187/categories', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            })
    }
</script>
<html>
<head>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body style="size: 1040px; height: 960px; background: url('https://images.unsplash.com/photo-1614548539644-ef528186523a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat; background-size: cover ">
    <div x-init="recipes = await getRecipes()"
         x-data="{ recipes: [] }">
        <header role="banner">
            <h1 style="font-family: Lucida Sans Unicode;">Find and share recipes</h1>
        </header>
        <button class="button--nina" style="border-radius: 12px;font-family: Arial;" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <svg class="bi bi-type-bold" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>Add
        </button>
        <div id="carouselExampleSlidesOnly" class="hover-zoom text-center  carousel slide" data-bs-ride="carousel">
            <template x-for="recipe in recipes">
                <div>
                    <div class="hover-zoom carousel-inner">
                        <div class="carousel-item active">
                            <button class="border-0 mt-3 zoom  cards  card-body border-1" data-bs-toggle="modal" :data-bs-target="'#detailsModal' + recipe.id">
                                <h4 x-text="recipe.title" class="cta card-title" style="color:black"></h4>
                                <template x-for="category in recipe.categories">
                                    <span style="text-align:left; background-color:#00008B" class="badge mb-2 mx-1" x-text="category"></span>
                                </template>
                                <br />
                                <a class="btn btn-primary" data-bs-toggle="modal" :data-bs-target="'#editModal' + recipe.id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                    </svg>
                                </a>
                                <a class="btn btn-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </a>
                            </button>
                        </div>
                        <div class="modal fade" :id="'editModal'+recipe.id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color:#00008B;">Edit recipe</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form style="text-align:left;overflow-x: hidden;overflow-y: auto;"
                                          x-data="{recipe: {id: recipe.id, title: recipe.title, instructions: '• '+recipe.instructions.join('\n• '), ingredients: '• '+recipe.ingredients.join('\n• '), categories: recipe.categories}}">
                                        <div class="modal-body">
                                            <div class="mb-3 ">
                                                <label for="title" class="col-2 col-form-label fw-bold " style="width : 100%; ">Title</label>
                                                <input id="title" class="border-0" x-model="recipe.title">
                                            </div>
                                            <div class="my-3 row">
                                                <label for="editRecipeIngredients" class="col-2 col-form-label fw-bold " style="width : 100%; ">Ingredients</label>
                                                <div class="col-7" style="width : 100%; ">
                                                    <textarea class=" form-control h-100" x-model="recipe.ingredients" id="editRecipeIngredients" rows="6" placeholder="enter every ingredient on a separate line"></textarea>
                                                </div>
                                            </div>
                                            <div class="my-3 row">
                                                <label for="editRecipeInstructions" class="col-2 col-form-label fw-bold " style="width : 100%; ">Instructions</label>
                                                <div class="col-7" style="width : 100%; ">
                                                    <textarea class=" form-control h-100" x-model="recipe.instructions" id="editRecipeInstructions" rows="6" placeholder="enter every ingredient on a separate line"></textarea>
                                                </div>
                                            </div>
                                            <div class="my-3 row">
                                                <label for="editRecipeCategories" class="col-2 col-form-label fw-bold " style="width : 100%; ">Categories</label>
                                                <div class="col-7">
                                                    <template x-for="category in await getCategories()">
                                                        <div>
                                                            <input :id="'category'+ category + recipe.id" type="checkbox" :value="category" x-model="recipe.categories">
                                                            <label :for="'category'+ category + recipe.id" x-text="category"></label>
                                                            <br />
                                                        </div>
                                                    </template>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="submit" id="button" class="btn btn-primary">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade " :id="'detailsModal'+recipe.id" tabindex="-1">
                            <div class="modal-dialog modal-dialog-scrollable modal-lg ">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" style="color:#00008B;">Recipe details</h5>
                                    </div>
                                    <form style="text-align:left;overflow-x: hidden;overflow-y: auto;">
                                        <div class="modal-body">
                                            <div class="mb-3 ">
                                                <label for="title" class="col-2 col-form-label fw-bold " style="width : 100%; ">Title</label>
                                                <input id="title" readonly="readonly" class="border-0" x-model="recipe.title">
                                            </div>
                                            <div class="my-3 row">
                                                <label for="ingred" style="width : 100%; " class="col-form-label col-2 fw-bold ">Ingredients</label>
                                                <template x-for="ingredients in recipe.ingredients">
                                                    <li name="ingred" x-text="ingredients"></li>
                                                </template>
                                            </div>
                                            <div class="my-3 row">
                                                <label for="instruc" style="width : 100%; " class="col-form-label col-2 fw-bold ">Instructions</label>
                                                <template x-for="instructions in recipe.instructions">
                                                    <li name="instruc" x-text="instructions"></li>
                                                </template>
                                            </div>
                                            <div class="my-3 row">
                                                <label for="categ" class="col-form-label col-2 fw-bold " style="width : 100%; ">Categories</label>
                                                <template x-for="category in recipe.categories">
                                                    <li name="categ" x-text="category"></li>
                                                </template>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <form method="post" style="text-align:left;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" style="color:#00008B;">Create your own recipe</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="my-3 row">
                                                <label class="col-form-label col-2 fw-bold">Title</label>
                                                <input class="border" style="width: 470px;" type="text" id="title" placeholder="Enter the title..">
                                            </div>
                                            <div class="my-3 row">
                                                <label class="col-form-label col-2 fw-bold ">
                                                    Ingredients
                                                </label>
                                                <textarea class="border" style="width: 470px;" placeholder="Enter a dash before each ingredient..." id="ingredients" rows="3"></textarea>
                                            </div>
                                            <div class="my-3 row">
                                                <label class="col-form-label col-2 fw-bold ">Instructions</label>
                                                <textarea class="border" style="width: 470px;" placeholder="Enter a dash before each instruction..." id="instructions" rows="3"></textarea>
                                            </div>
                                            <div class="my-3 row">
                                                <div class="my-3 row">
                                                    <label for="editRecipeCategories" class="col-2 col-form-label fw-bold " style="width : 100%; ">Categories</label>
                                                    <div class="col-7">
                                                        <template x-for="category in await getCategories()">
                                                            <div>
                                                                <input :id="'category'+ category" type="checkbox" x-model="recipe.categories">
                                                                <label :for="'category'+ category" x-text="category"></label>
                                                                <br />
                                                            </div>
                                                        </template>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" id="button" class="btn btn-primary">Save</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</body>
</html>