@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <script defer src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        fetch('http://example.com/movies.json')
            .then((response) => response.json())
            .then((data) => console.log(data));
    </script>
</body>
</html>