@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">

    var swiper = new Swiper(".slide-content", {
        slidesPerView: 3,
        spaceBetween: 25,
        loop: true,
        centerSlide: 'true',
        fade: 'true',
        grabCursor: 'true',
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
            dynamicBullets: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },

        breakpoints: {
            0: {
                slidesPerView: 1,
            },
            520: {
                slidesPerView: 2,
            },
            950: {
                slidesPerView: 3,
            },
        },
    });
</script>
<script>
    async function getRecipes() {
        return await fetch('https://localhost:7187/recipes', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            })
    }

    async function getCategories() {
        return await fetch('https://localhost:7187/recipes', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => res.json())
            .then(data => {
                return data
            })
    }
</script>
<html>
<head>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body>
    <div x-data="{ recipes: [] }" class="text-center">
        <div class="row row-cols-1 row-cols-md-4 g-2 text-center">
            <template x-for="recipe in recipes">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="btn-group">
                                <div class="card h-100 text-center" style="background-color:#1A2238;margin-left:2px;margin-top:5px;">
                                    <button class="cards card-body border-1" data-bs-toggle="modal" :data-bs-target="'#detailsModal' + recipe.id">
                                        <h4 x-text="recipe.title" class="card-title" style="color:black"></h4>
                                        <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                            </svg>
                                        </a>
                                        <a class="btn btn-danger" data-bs-toggle="modal" :data-bs-target="'#addModal' + recipe.id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                            </svg>
                                        </a>
                                    </button>
                                </div>
                            </div>

                            <div class="modal fade" :id="'detailsModal'+recipe.id" tabindex="-1">
                                <div class="modal-dialog modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-success">Recipe Details</h5>
                                        </div>
                                        <form style="text-align:left;overflow-x: hidden;overflow-y: auto;">
                                            <div class="modal-body">
                                                <div class="mb-3 ">
                                                    <label for="title" class="col-2 col-form-label fw-bold " style="width : 100%; ">Title</label>
                                                    <input id="title" readonly="readonly" class="border-0" x-model="recipe.title">
                                                </div>
                                                <div class="my-3 row">
                                                    <label for="ingred" style="width : 100%; " class="col-form-label col-2 fw-bold ">Ingredients</label>
                                                    <template x-for="ingredients in recipe.ingredients">
                                                        <li name="ingred" x-text="ingredients"></li>
                                                    </template>
                                                </div>
                                                <div class="my-3 row">
                                                    <label for="instruc" style="width : 100%; " class="col-form-label col-2 fw-bold ">Instructions</label>
                                                    <template x-for="instructions in recipe.instructions">
                                                        <li name="instruc" x-text="instructions"></li>
                                                    </template>
                                                </div>
                                                <div class="my-3 row">
                                                    <label for="categ" class="col-form-label col-2 fw-bold " style="width : 100%; ">Categories</label>
                                                    <template x-for="category in recipe.categories">
                                                        <li name="categ" x-text="category"></li>
                                                    </template>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" :id="'addModal'+recipe.id" tabindex="-1">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form method="post">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-success" id="exampleModalLabel">Create your own recipe</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="mb-3">
                                                    <label class="fw-bold">Title</label>
                                                    <input class="border" style="width: 470px;" type="text" x-model="recipe.title" class="form-control" id="title" placeholder="Enter the title..">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="fw-bold">
                                                        Ingredients
                                                    </label>
                                                    <textarea class="border" style="width: 470px;" x-model="recipe.title" placeholder="Enter a dash before each ingredient..." id="ingredients" rows="3"></textarea>
                                                </div>
                                                <div class="mb-3">
                                                    <label class="fw-bold">Instructions</label>
                                                    <textarea class="border" style="width: 470px;" x-model="recipe.title" placeholder="Enter a dash before each instruction..." id="instructions" rows="3"></textarea>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="submit" id="button" class="btn btn-primary">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
            <div>
                <button x-on:click="recipes = await getRecipes()" class="btn btn-primary" style="margin-top:25px;">List Recipes</button>
            </div>
        </div>
    </div>
</body>
</html>
